@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
/* 
.our-packages figure{
    box-shadow: 0 0 10px black;
    width: 300px;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    /* background-color: lightcyan; 
    align-items: right;
}
.our-packages figure img{
    width: 100%;
}
.our-packages figure figcaption{
    font-size: 30px;
}
.our-packages figure p{
    font-size: 18px;
}
/* .navbar{
  
  text-align: right;
  font-size: 20px;
  background-color: white;
 }
nav a{
  text-decoration: none;
  padding: 10px 25px;
  display: inline-block;

} 

.pro{
  width:50%;
  }
img{
  float:left;
  width:100px;
  height:100px;
  padding: 100px 100px 0 0;
}
.ab
{
  padding-top: 20px;
  
} */
.main-footer{
    background-color: gray;
    color: whitesmoke;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    font-family: 'Poppins',sans-serif;
}
.test
{
  /* text-align: center; */
  text-decoration: none;
  color:green;
}
.button{
    padding: 10px 25px;
    margin: 10px;
   
} 


.container{
  background: rgb(249, 251, 252);
  padding: 50px 50px 50px 70px;
  width: 100%;
  font-family: 'Poppins',sans-serif;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-sizing: border-box;
  

}
.card-img-top{
  width: 100%;
  max-height: 200px;
}

#navbar {
  /* background-color: rgb(155, 155, 155); */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
#links {
  list-style: none;
  float: right;
  margin: 20px 10px;
}
.link {
  float: left;
  margin-right: 25px;
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

#eligibility {
  /* border: 1px solid rgb(224, 214, 214); */
  margin-top: 20px;
}
ol {
  margin-top: 20px;
  margin-left: 30px;
}
li {
  list-style-type: disc;
}
#termsandconditions {
  /* border: 1px solid rgb(224, 214, 214); */
  margin-top: 20px;
}