.container{
  background-color: bisque;
  padding: 5px 20px 15px 20px;
  border: 1px solid rgba(17, 17, 17, 0.952);
  border-radius: 3px;
  align-items: center;
}
.input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
.label {
    margin-bottom: 10px;
    display: block;
  }

.btn {
    background-color: #068ab3;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    /* width: 100%; */
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }

.btn-proceed {
    background-color: #068ab3;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    /* width: 100%; */
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
  }

  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    padding:  0 16px;
  } 