
 <div class="container">
    <h2>Checkout Page</h2>
 </div>

 <div class="container">
    <form action="">
        <div>
            <label for="">Product Name:</label><br><br>
        </div>
        <div>
            <label for="">Product Price:</label><br><br>
        </div>
        <div class="row">
            <div class="col-50"><label for="">Tenure:  </label>&nbsp;            
                <select name="tenure" id="tenure">
                    <option value="0">0</option>
                  <option value="3">3</option>
                  <option value="6">6</option>
                  <option value="9">9</option>
                </select>

            </div>
        </div>
            
        <div>
            <label for="">Down Payment:</label>&nbsp;
            <input type="number" placeholder="please enter the amount in multiples of 1000" name="amt_paid" id="amt_paid" step="1000"/>
            
        </div>
        <div>
            <button class="btn">CHECK EMI PRICE</button>
        </div>
        <div>
            <label for="">EMI:</label>

        </div>
        <div class="text-center">
            <button class="btn btn-proceed" [routerLink]="['/bill']">PROCEED</button>
        </div>

        

    </form>
 </div>