<div id="navbar">
        
    <a class="navbar-brand" href="#">FINANCE</a>

<ul id="links">
<li class="link"  [routerLink]="['/mainpage']">Home</li>
<li class="link"  [routerLink]="['/userlogin']">Admin Login </li>
<li class="link" [routerLink]="['/register']">User Register</li>
<li class="link" [routerLink]="['/userlogin']">User Login</li>
<li class="link" [routerLink]="['/dashboard']">Dashboard</li>
</ul>
<br style="clear: both" />
</div>


 <div class="container">
    <h2 class="h2 text-center">Checkout Page</h2>
 </div>
<br> <br> <br>
 <div class="container">
    <form action="">
        <div>
            <label for="">Product Name:</label><br><br>
        </div>
        <div>
            <label for="">Product Price:</label><br><br>
        </div>
        <div class="row">
            <div class="col-50"><label for="">Tenure:  </label>&nbsp;            
                <select name="tenure" id="tenure">
                    <option value="0">0</option>
                  <option value="3">3</option>
                  <option value="6">6</option>
                  <option value="9">9</option>
                </select>

            </div>
        </div><br><br>
            
        <div>
            <label for="">Down Payment:</label>&nbsp;
            <input type="number" placeholder="please enter the amount in multiples of 1000" name="amt_paid" id="amt_paid" step="1000"/>
            
        </div>
        <div>
            <button class="btn">CHECK EMI PRICE</button>
        </div><br><br>
        <div>
            <label for="">EMI:</label>

        </div>
        <div class="text-center">
            <button class="btn btn-proceed" [routerLink]="['/bill']">PROCEED</button>
        </div>

        

    </form>
 </div>