<!-- <nav class="navbar">
  <h1>
    Welcome to FINANCE Module
  </h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
    <a routerLink="['/register']">REGISTER</a> -->
  <!-- <a style="text-align: right;" routerLink="register">Registration</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="login">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
<!-- </nav>
<div class="container">
  
  <p>
    
    <button [routerLink]="['/mainpage']">GET STARTED</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  </p>

</div> -->

<router-outlet></router-outlet>