
    <div id="navbar">
        <ul id="links">
        <li class="link"  [routerLink]="['/mainpage']">Home</li>
        <li class="link"  [routerLink]="['/userlogin']">Admin Login </li>
        <li class="link" [routerLink]="['/register']">User Register</li>
        <li class="link" [routerLink]="['/userlogin']">User Login</li>
        <li class="link" [routerLink]="['/dashboard']">Dashboard</li>
        </ul>
        <br style="clear: both" />
    </div>
    <div class="container text-centered">
        
        <div class="heading">
            <h3 class="h3">BILL</h3>
        </div>
        <hr>
        <br> <br><br>
        <div class="content">
            <form action="">
                <div>
                    <label for="">Product Name:</label><br><br>
                </div>
                <div>
                    <label for="">Product Price:</label><br><br>
                </div>
                <div>
                    <label>Emi Amount:</label><br><br>
                </div>
                <div>
                    <label for="">Tenure:</label><br><br>
                </div>
                <button id="pay" name="pay" [routerLink]="['/mainpage']" class="btn btn-primary">PAY</button>
            </form>
        </div>
    </div>



