@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


.container{
    background-color: rgb(163, 238, 238);
    padding: 5px 20px 15px 20px;
    /* border: 1px solid rgba(17, 17, 17, 0.952); */
    box-shadow: inset;
    border-radius: 10px;
    align-items: center;
    width: 400px;
    /* box-shadow: 5px 10px #cccbcb; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
.heading{
    /* background: rgb(174, 201, 214); */
    align-items: center;
    width: 400px;
    height: 100px;
    border: black 1px;
    border-radius: 1px;
    box-sizing: border-box;
    

}
.h3{
    color: rgb(30, 115, 243);
    padding-top: 40px;
    padding-left: 150px;
}

.content{
    /* background: rgb(174, 201, 214); */
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
    width: 400px;
}

.navbar-brand{
  font-family: 'Poppins',sans-serif;
  font-size: 25px;
  padding-top: 20px;
  font-weight: bolder;
  color: rgb(30, 115, 243);
}

#navbar {
    /* background-color: rgb(155, 155, 155); */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    font-family: 'Poppins',sans-serif;
  }
  #links {
    list-style: none;
    float: right;
    margin: 20px 10px;
  }
  .link {
    float: left;
    margin-right: 25px;
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }