<!-- <p>product-list works!</p>-->

<div>
      <div id="navbar">
        <a class="navbar-brand" href="#">FINANCE</a>
        <ul id="links">         
          <li class="link" style="border: none;background-color: rgb(224, 112, 112);font-size: 17px; font-weight: bold;font-family: 'Times New Roman', Times, serif;" >Welcome! </li>
          <li class="link"  [routerLink]="['/dashboard']">Show History</li>
          <li class="link"  [routerLink]="['/mainpage']">Logout</li>
          
        </ul>
        <br style="clear: both" />
</div>
 
 <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card h-100" style="width: 25rem;">
                <img class="card-img-top" src="assets/images/camera.jpg" alt="Card image cap" >
                <div class="card-body">
                  <h5 class="card-title">Camera</h5>
                  <p class="card-text">Rs. 69999</p>
                  <a [routerLink]="['/productinfo']" class="btn btn-primary">Book</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100" style="width: 25rem;">
                <img class="card-img-top" src="assets/images/laptop.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Laptop</h5>
                  <p class="card-text">Rs. 45000 </p>
                  <a href="#" class="btn btn-primary">Book</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100" style="width: 25rem;">
                <img class="card-img-top" src="assets/images/lenovo_mouse.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Lenovo Mouse</h5>
                  <p class="card-text">Rs. 2999</p>
                  <a href="#" class="btn btn-primary">Book</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100" style="width: 25rem;">
                <img class="card-img-top" src="assets/images/lenovo_tab.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Lenovo tab</h5>
                  <p class="card-text">Rs. 20000</p>
                  <a href="#" class="btn btn-primary">Book</a>
                </div>
            </div>
        </div>
    </div>    
    <br><br><br><br>
</div>  

<router-outlet></router-outlet>

